{% extends "layout/base.html" %}

{% block title %}Sentiment Analyser App{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main>
<section class="register-form">
    <div class="container form">
    <div class="row reg-form">

        <form id="sentiment-form"  class="was-validated" style="margin-bottom:45px;" >
            
            <div class="mb-3">
                <label for="Name" class="form-label">Enter a statement</label>
                <input type="text" class="form-control" id="statement" name="statement" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
                <input type="submit" id="upload" value="Check now"> 
            </div>

        </form>
		  <div></div>
      <div id="myChart" style="width:100%; height:500px;">
    </div>
    </div>
  </div>
</section>
</main>
<script>
$(document).on('submit', '#sentiment-form', function(e){
    e.preventDefault();
    var form = $('#sentiment-form');
    let statement = $('#statement').val();
    console.log(statement);
    jsondata={
      "statement":statement,
    }
    $("#btn-send").prop("disabled", true);
    $.ajax({
      type: "POST",
      data: jsondata,
      url:"/check-sentiment",
      dataType: "json",
        complete: function(resp){
          const myObj = JSON.parse(resp.responseText);
          $("#btn-send").prop("disabled", false); 
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Sentiment', 'Percentage'],
            ['Positive',myObj.pos],
            ['Negative',myObj.neg],
            ['Neutral',myObj.neu]
          ]);

          var options = {
            title:'Sentiments of statement "' + statement + '"',
            is3D:true
          };

          var chart = new google.visualization.PieChart(document.getElementById('myChart'));
            chart.draw(data, options);
          }
		  console.log(resp.responseText);
          }
          // enabled the submit button
        
      });
});
</script>-->
{% endblock content %}